

body{
    margin: 0;
    color: teal;
    font-family: 'Roboto', sans-serif;
    min-width: auto;
    max-width: auto;
    min-height: auto;
    max-height: auto;
}

/**************HEADER*********/
header {
text-align: center;
padding: 10px;
background-color: teal;
color: white;
font-family:'Robot Slab', serif;

min-height: auto;
min-width: auto;
max-width: auto;
min-height: auto;
max-height: auto;
}


h1{
    margin:1;
    padding: 5px;
    text-align: left;
    margin-left: 40px;
    width: auto;
    height: auto;
    min-width: auto;
    max-width: auto;
    min-height: auto;
    max-height: auto;
}

nav{
    min-width: auto;
    max-width: auto;
    min-height: auto;
    max-height: auto;
}

/************LISTS************/

.Welcome {
    background-color: #eeeeee;
    border: 1px solid #cccccc;
    font-size: x-large;
    text-align: center;
    width: auto;
    height: 400px;
    min-width: auto;
    max-width: auto;
    min-height: auto;
    max-height: auto;
}


.Limited_Edition {
    background-color: #ffffff;
    border: 1px solid #cccccc;
    font-size: x-large;
    text-align: center;
    width: auto;
    height: 400px;
    min-width: auto;
    max-width: auto;
    min-height: auto;
    max-height: auto;
    }


    .pillowimage1{
        position: relative;
        right: 30%;
        bottom: -10%;
    }
    
    .pillowimage2{
        position: relative;
        right: 0%;
        bottom: 40%;
    }

    .pillowimage3{
        position: relative;
        right: -30%;
        bottom: 90%;

    }


.Browse_Collection {
    background-color: #eeeeee;
    border: 1px solid #cccccc;
    font-size: x-large;
    text-align: center;
    width: auto;
    height: 400px;
    min-width: auto;
    max-width: auto;
    min-height: auto;
    max-height: auto;
}


    .couch_pillows{
        position: relative;
        right: 30%;
        bottom: -10%;

    }

    .bed_pillows{
        position: relative;
        right: 10%;
        bottom: 40%;

    }

    .round_pillows{
        position: relative;
        right: -10%;
        bottom: 90%;

    }

    .floor_pouf_pillows{
        position: relative;
        right: -30%;
        bottom: 140%;

    }

    .sectiona-text{
        text-align: center;
    }

    .sectionb-text{
        text-align: left;
        margin-top:10%;
    }

    .sectionc-text{
        margin-top: 10%;
        font-size: xx-large;
    }

    .sectionb-caption {
        font-size: large;
        text-align: left;
        position: relative;
        left: 700px;

    }

    .sectiond {
        background-color: #ffffff;
        border: 1px solid #cccccc;
        font-size: x-large;
        text-align: center;
        min-width: auto;
        max-width: auto;
        min-height: auto;
        max-height: auto;
    }


header a {
    color: gold;
    text-decoration: none;
    margin: 80px;
    font-size: 20px;
    min-width: auto;
    max-width: auto;
    min-height: auto;
    max-height: auto;
    
}

.Product_Browsing_Section{
    background-color: #eeeeee;
    border: 1px solid #cccccc;
    font-size: x-large;
    text-align: center;
    width: auto;
    height: 300px;
    min-width: auto;
    max-width: auto;
    min-height: auto;
    max-height: auto;
}

.Product_Browsing_Title{
    position: relative; 
    right: 35%; 
    top: 40%; 

}

.Product_Browsing_Image{
    position:relative; 
    right: 20%; 
    top: 10%; 

}

.Product_Browsing_Caption{
    position: relative;
    text-align: left; 
    left: 40%; 
    top: -50%;
    font-size: x-large; 
    width: 60%;
}
