/**************Wrapper*********/
.wrapper {
    margin-left:1px;
    margin-right:1px;
    width:1900px;
    overflow: scroll;
}

/**************Body*********/
body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    color: teal;
    font-family: 'Comic Sans MS', cursive, sans-serif;
    height:100%;
    width:100%;
}

/**************Header*********/

header {
text-align: center;
font-family: 'Comic Sans MS', cursive, sans-serif;
padding: 10px;
background-color: teal;
color: white;
}

nav{
    position: relative;
    margin-top: 1%;
    font-size: large;
}

.flex_container { 
    display: flex;
  } 

.flex_container > div { 
    width: 50%; 
    justify-content: center;
  } 

  header a {
    color: white;
    text-decoration: none;
    margin: 80px;
    font-size: 20px;
}

#pillow_icon{
    position: relative; 
    right: 5%;
}

#search_bar{
    position: relative; 
    left: 5%;
}

#login_icon{
    position: relative; 
    left: 9%;
}

#shopping_cart_icon{
    position: relative; 
    left: 3%;
}

  /**************Hover*********/
a:hover{
        color:black;
}

/**************Paragraph*********/
p{
    font-size: large;
    text-align: center;  
}

/**************Page tracker at the top *********/

#website_page_tracker{
    height: 10%; 
    background-color: #ffffff;
}

/************Homepage Sections************/

#welcome {
    background-color: #eeeeee;
    border: 1px solid #cccccc;
    font-size: x-large;
    text-align: center;
    height: 420px;
}

#welcome_text {
    text-align: center; 
    font-size: 200%; 
    position: relative; 
    margin-top: 5%; 
    margin-left: 10%; 
    width: 80%
}


.homepage_section{
    background-color: #eeeeee;
    border: 1px solid #cccccc;
    font-size: x-large;
    text-align: center;
    height: 420px;
    }


    .homepage_section #pillowimage1{
        position: relative;
        right: 30%;
        bottom: 25%;
    }
    
    .homepage_section #pillowimage2{
        position: relative;
        right: 0%;
        bottom: 75%;
    }

    .homepage_section #pillowimage3{
        position: relative;
        right: -30%;
        bottom: 125%;

    }


.homepage_section {
    background-color: #ffffff;
    border: 1px solid #cccccc;
    font-size: x-large;
    text-align: center;
    height: 420px;   
}


    #couch_pillows_image{
        position: relative;
        right: 30%;
        bottom: 20%;
    }

    #bed_pillows_image{
        position: relative;
        right: 10%;
        bottom: 82%;
    }

    #round_pillows_image{
        position: relative;
        right: -10%;
        bottom: 146%;
    }

    #floor_pouf_pillows_image{
        position: relative;
        right: -30%;
        bottom: 210%;
    }

    #couch_pillows_caption{
        text-align: center; 
        position: relative; 
        bottom: 20%; 
        left: 10%; 
        width: 20%; 
        z-index: 2000;
    }

    #bed_pillows_caption{
        text-align: center; 
        position: relative; 
        bottom: 83%; 
        left: 30%; 
        width: 20%; 
        z-index: 2000;
    }

    #round_pillows_caption{
        text-align: center; 
        position: relative; 
        bottom: 147%; 
        left: 50%; 
        width: 20%; 
        z-index: 2000;
    }

    #floor_pouf_pillows_caption{
        text-align: center; 
        position: relative; 
        bottom: 211%; 
        left: 70%; 
        width: 20%; 
        z-index: 2000;
    }


    #limited_edition_text{
        margin-top:10%;
        text-align: center; 
        font-size: xx-large; 
        position: relative; 
        bottom: 40%; 
        left: 10%; 
        width: 80%
    }

    #browse_collection_text{
        margin-top: 10%;
        font-size: xx-large;
        text-align: center; 
        font-size: xx-large; 
        position: relative; 
        bottom: 35%; 
        left: 10%; 
        width: 80%;
    }



    /************Product Browsing Page Sections************/


.Product_Browsing_Section{
    background-color: #eeeeee;
    border: 1px solid #cccccc;
    font-size: x-large;
    text-align: center;
    width: auto;
    height: 300px;
}

.Product_Browsing_Title{
    position: relative; 
    right: 35%; 
    top: 50%; 

}

.Product_Browsing_Image{
    position:relative; 
    right: 20%; 
    top: 10%; 
}

.Product_Browsing_Caption{
    position: relative;
    text-align: left; 
    left: 40%; 
    top: -50%;
    font-size: x-large; 
    width: 60%;
}

/************Product Detail Page Sections************/

/************Details About Product (Title, Image, Description)************/

.Product_Detail{
    background-color: #ffffff;
    border: 1px solid #cccccc;
    font-size: x-large;
    text-align: center;
    width: auto;
    height: 1000px;
}


.Product_Title{
    position: relative; 
    right: 35%; 
    top: 5%; 
    font-size: xx-large;
    margin-top: 5%;
}

.Product_Image{
    position: relative; 
    right: 35%; 
    top: 10%;  
}

.Product_Caption{
    position: relative;
    text-align: left; 
    left: 3%; 
    top: 20%;
    font-size: large; 
    width: 25%;
}

/************Customization Sections (Colors and Materials)************/

#Customization_Section_Colors{
    background-color: #ffffff;
    font-size: x-large;
    text-align: center;
    width: 30%;
    height: 40%;
    position: relative;
    bottom: 60%;
    left: 25%;
}

#Customization_Section_Materials{
    background-color: #ffffff;
    font-size: x-large;
    text-align: center;
    width: 30%;
    height: 40%;
    position: relative; 
    bottom: 45%; 
    left: 25%
}


.Customization_Title{
    position:relative; 
    top: 1%;
}

.Customization_Option{
    background-color: salmon;
}

#Customization_Option_One{
    font-size:small;
    text-align: left;
    width: 80%;
    height: 20%;
    position: relative;
    top: 10%;
    left: 10%;
}

#Customization_Option_Two{
    font-size:small;
    text-align: left;
    width: 80%;
    height: 20%;
    position: relative; 
    top: 20%; 
    left: 10%;
}

#Customization_Option_Three{
    font-size:small;
    text-align: left;
    width: 80%;
    height: 20%;
    position: relative; 
    top: 30%; 
    left: 10%;
}

#Customization_Option_Four{
    font-size:small;
    text-align: left;
    width: 80%;
    height: 20%;
    position: relative; 
    top: 40%; 
    left: 10%;

}

#Customization_Option_Image{
    position: relative; 
    left: 35%;    
    width: 80%;
    height: 42%;
}

/************Reviews Sections (Colors and Materials)************/

#Reviews_Section{
    background-color: #ffffff;
    border: 1px solid #000000;
    border-radius: 15px;
    font-size: small;
    text-align: center;
    width: 35%;
    height: 40%;
    position: relative; 
    bottom: 127%; 
    left: 61%;
}

#Reviews_Section .Reviews_Title{
    position:relative;
    font-size: x-large; 
    top: 1%;
}
#Reviews_Section .Reviews_Option{
    background-color: #ffffff;
    font-size: medium;
    text-align: left;
    width: 85%;
    height: 10%;
    position: relative;
    top: 1%;
    left: 4%;
}

#Reviews_Section .Reviews_Option_Text{
    margin-top: 10%;
    margin-right: 5%;
    width: 60%; 
    position: relative; 
    top: 5%; 
    left: 50%; 
    text-align: left
}

#Reviews_Section .Reviews_Option_Image{
    position: relative; 
    left: 5%; 
    bottom: 85%; 
}


/************Order Section (Quantity, Location, Add to Cart Options)************/

.Order_Section{
    background-color: #eeeeee;
    border-radius: 15px;

    font-size: large;
    text-align: center;
    width: 35%;
    height: 40%;
    position: relative;
    bottom: 132%; 
    left: 61%;
}


.Order_Section .Quantity_Option{
    background-color: #eeeeee;
    font-size: xx-large;
    text-align: left;
    width: 80%;
    height: 10%;
    position: relative;
    top: 20%;
    left: 20%;
}

.Order_Section .Location_Option{
    background-color: #eeeeee;
    font-size: xx-large;
    text-align: left;
    width: 80%;
    height: 10%;
    position: relative;
    top: 10%;
    left: 20%;
}

.Reviews_Section .Add_Cart_Option{
    background-color: #eeeeee;
    border: 1px #000000;
    font-size: small;
    text-align: left;
    width: 80%;
    height: 10%;
    position: relative;
    top: 10%;
    left: 10%;
}

.Quantity_Image{
    position: relative; 
    left: 10%; 
    top: 1%; 
}
.Location_Image{
    position: relative; 
    left: 10%; 
    top: 5%; 
}
.Add_Cart_Image{
    position: relative; 
    top: 12%; 
    left: -1%;
}


/************Interactive Elements************/

  body {
      padding: 20px;
  }
  button {
    background: #fa8072;
  }
  button:hover {
    background: lightsalmon;
  }

